{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
<div class="jumbotron">
<h1 class="display-4">Admnistration<h1>
<p class="lead">Bienvenue Astrid sur votre panel d'administration</p>
{% endblock %}
