<form method="post" action="{{ path('space_delete', {'id': space.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet espace ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ space.id) }}">
    <button class="btn form-submit">Supprimer votre annonce</button>
</form>
