<div>
	<input type="checkbox" name="my-checkbox" id="opt-in" class="hidden-checkbox">
	<label for="opt-in">Salle de réunion</label>

	<input type="checkbox" name="my-checkbox" id="opt-in" class="hidden-checkbox">
	<label for="opt-in">Co-working</label>

	<input type="checkbox" name="my-checkbox" id="opt-in" class="hidden-checkbox">
	<label for="opt-in">Bureau privé</label>

	<input type="checkbox" name="my-checkbox" id="opt-in" class="hidden-checkbox">
	<label for="opt-in">Open space</label>

	<input type="checkbox" name="my-checkbox" id="opt-in" class="hidden-checkbox">
	<label for="opt-in">Espace de stockage</label>

	<input type="checkbox" name="my-checkbox" id="opt-in" class="hidden-checkbox">
	<label for="opt-in">Plateaux vides</label>
</div>
<div>

	<input type="range" id="range" name="price" min="10" max="1500" step="10">
	<label for="range">Prix</label>

	<input type="range" id="range" name="surface" min="5" max="1000" step="10">
	<label for="range">Surface</label>

	<input type="date" id="start" name="date" value="2022-01-15" min="2021-01-05" max="2024-12-31">
	<label for="start">Dates</label>

</div>

<button class="form-submit">
	Chercher
</button>
