{% extends 'base.html.twig' %}

{% block title %}Edit Space{% endblock %}

{% block body %}
   <div class="user-index-h1">
        <h1>Modifiez votre annonce</h1>
    </div>
    {{ include('space/_form.html.twig') }}
    <div class="space-form-submit-div">
        <a class ="space-form-submit" href="{{ path("space_show", {id: space.id}) }}">Retourner sur l'annonce</a>
    </div>
{% endblock %}
