{% extends 'base.html.twig' %}
{% block title %}
    New Space
{% endblock %}
{% block body %}
    <h1>
        Créer un nouvel espace
    </h1>
    <div class="form-container">
        {{ include('space/_form.html.twig') }}
    </div>
{% endblock %}
