{% extends 'base.html.twig' %}
{% block title %}
	New Space
{% endblock %}
{% block body %}
	<div class="new-space-body">
		<div class="title">
			{% include "_logoTitle.html.twig" %}
		</div>
		<h1 class="create-new-space">Déposer une annonce</h1>
		<div class="new-space-form">
			{{ include('space/_form.html.twig') }}
		</div>
		<div>
		{% endblock %}
