@font-face {
    font-family: 'Actor';
    src: url('../fonts/Actor-Regular.ttf');
}

@font-face {
    font-family: 'Abhaya';
    src: url('../fonts/AbhayaLibre-Regular.ttf');
}

$color-white: #FAFAFA;
$color-burgundy: #BD1110;
$color-grey: #322E2A;
$color-blue: #5271FF;
$color-cerise: rgba(99, 35, 35, 0.75);
