<form action="{{ path('space_search') }}" method="get" class="form-search">
<<<<<<< HEAD
	<div class="autoComplete_wrapper">
		<input class="search-bar" type="text" id="autoComplete" placeholder="Ou souhaitez-vous travailler ?" name="location" value="{{ location ?? '' }}">
	</div>
	<button class="btn form-submit">
		Chercher
	</button>
=======
<div class="autoComplete_wrapper">
<input class="search-bar" type="text" id="autoComplete" placeholder="Ou souhaitez-vous travailler ?" name="location" value="{{ location ?? '' }}">
</div>
<button class="btn form-submit">
    Chercher
</button>
>>>>>>> 3a1713cb5e9dc432244197126f19b832150c1754
</form>
