<form action="{{ path('space_search') }}" method="get" class="form-search">
<input type="text" placeholder="Ou souhaitez-vous travailler ?" name="location" value="{{ location ?? '' }}">
<button class="btn form-submit">
    Chercher
</button>
</form>