<form action="{{ path('space_search') }}" method="get" class="form-search">
	<div class="autoComplete_wrapper">
		<input class="search-bar" type="text" id="autoComplete" placeholder="Ou souhaitez-vous travailler ?" name="location" value="{{ location ?? '' }}">
	</div>
	<button class="btn form-submit">
		Chercher
	</button>
</form>
