<form action="{{ path('space_search') }}" method="get" class="form-search">
	<input class="search-bar" type="text" placeholder="Ou souhaitez-vous travailler ?" name="location" value="{{ location ?? '' }}">
	<button class="btn form-submit">
		Chercher
	</button>

</div>
