{% extends "base.html.twig" %}
{% block body %}
<div class="premium-body">
	<div class="title">
		{% include "_logoTitle.html.twig" %}
	</div>
	<h1 class="show-premium-offer-title">Notre offre Premium</h1>
	<div class="show-premium-offer-advantage">
		<ul>
			<li class"show-premium-offer-li">✅ Pas de limite d'annonce</li>
			<li class"show-premium-offer-li">✅ Meilleure visibilité de vos annonces</li>
			<li class"show-premium-offer-li">✅ Photos illimités</li>
		</ul>
		<a class="show-premium-offer-contact" href="mailto:premiumoffer@marcheconclu.com">Nous contacter pour en profiter</a>
	</div>
</div>
</div>

{% endblock %}