{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="user-edit-h1">
        <h1>Mon profil</h1>
    </div>
    <div class="user-edit-div-form">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <div class="user-edit-return">
        <a class="user-index-submit" href="{{ path('user_index') }}">Retour à mes informations</a>
    </div>
    {# {{ include('user/_delete_form.html.twig') }} #}

{% endblock %}
